gradio==4.44.1
pandas==2.2.3
python-dotenv==1.0.1
pydantic==2.9.2
pymupdf==1.24.10
Pillow==10.4.0
pytesseract==0.3.13
langchain==0.2.16
langgraph==0.2.19
langchain-openai==0.1.25
openai==1.47.1
tabulate
opencv-python-headless
pdfplumber
pymupdf